In [54]:
import numpy as np 
import pandas as pd 

PE_SH = pd.read_csv("DATA/pe_section_headers.csv",header = 0)
PE_SH.head()

,hash,size_of_data,virtual_address,entropy,virtual_size,malware
0,071e8c3f8922e186e57548cd4c703a5d,443392,4096,6.529624,442984,1
1,33f8e6d08a6aae939f25a8e0d63dd523,331264,4096,6.604314,330784,1
2,b68abd064e975e1c6d5f25e748663076,74240,4096,6.046789,73819,1
3,72049be7bd30ea61297ea624ae198067,219648,4096,6.497018,219524,1
4,c9b3700a77facf29172f32df6bc77f48,262144,4096,6.638142,261943,1

In [55]:
PE_SH = PE_SH.sample(frac=1).reset_index(drop=True)
np.unique(PE_SH.dtypes), PE_SH.iloc[:,-1].dtype

(array([dtype('int64'), dtype('float64'), dtype('O')], dtype=object),
 dtype('int64'))

In [56]:
PE_SH.columns

Index(['hash', 'size_of_data', 'virtual_address', 'entropy', 'virtual_size',
       'malware'],
      dtype='object')

In [57]:
PE_SH = PE_SH.drop(labels = ["hash"], axis = 1)
np.unique(PE_SH.dtypes)

array([dtype('int64'), dtype('float64')], dtype=object)

In [58]:
PE_SH.head()

   size_of_data  virtual_address   entropy  virtual_size  malware
0        247808             4096  5.132808        247428        0
1         78848             4096  6.099789         78604        1
2        462336             4096  6.547980        462164        1
3        331776             4096  5.367435        329560        1
4        630784             4096  6.330377        626704        1

In [59]:
PE_SH.iloc[:,-1].value_counts()

1    41568
0     1725
Name: malware, dtype: int64

In [52]:
for i in range (np.int_(PE_SH.iloc[:,-1].value_counts()[1]/2)):
    if PE_SH.iloc[i,-1] == 1:
        PE_SH = PE_SH.drop(i)

PE_SH.head()

    size_of_data  virtual_address   entropy  virtual_size  malware
25         23552             4096  6.417698         23130        1
39         20480             4096  5.977687         17332        1
75        262144             4096  6.638142        261943        1
79        262144             4096  6.638142        261943        1
99        206336             4096  6.474719        206035        0

In [53]:
PE_SH.iloc[:,-1].value_counts()

1    22359
0      959
Name: malware, dtype: int64